@import "../../root.css";

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
}

.form-container,
.img-container {
  width: 50%;
  height: 100%;
}
.img-container {
  background-image: url("../../assets/login-img.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.form-container {
  width: 50%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary-4);
  color: white;
}
.form-description {
  text-align: center;
  padding-top: 1rem;
  margin-top: 50px;
}
.login-form {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 80%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  margin: 5px 0px;
}
.login-btn {
  display: block;
  width: 80%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-2);
  color: black;
  margin: 15px 0px;
  border: 3px solid var(--primary-2);
}
.login-btn:hover {
  color: white;
  background-color: var(--primary-4);
  border: 3px solid var(--primary-2);
  transition: all 0.5s ease-out;
}
span {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  .form-container {
    border-radius: 10px;
    width: 100%;
  }
  .img-container {
    display: none;
  }
  body {
    background-image: url("../../assets/login-img.avif");
    background-position: center;
    background-size: cover;
  }
}
input:focus {
  outline: none;
  outline: 3px solid var(--primary-2);
}
.loader {
  font-size: 2em;
  color: var(--primary-1);
}
.hidden {
  display: none;
}
.error-handler {
  background-color: rgba(255, 0, 0, 0.5);
  margin: 5px;
  border-radius: 5px;
  height: max-content;
}
.error-handler h4 {
  color: var(--primary-1);
  font-weight: 400;
  text-align: center;
  /* padding: 5px 0px; */
}
