@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --primary-1: #eef4ed;
  --primary-2: #8da9c4;
  --primary-3: #134074;
  --primary-4: #13315c;
  --primary-5: #0b2545;
}
